name: Tests

on:
  push

jobs:
  screenshot:
    name: Screenshot
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        width: [1200, 992, 768, 600]
    runs-on: ${{ matrix.os }}

    steps:

    - name: Checkout
      uses: actions/checkout@v1.0.0

    - name: Capture Screenshot
      id: screenshot
      uses: ./
      with:
        source: https://github.com/swinton/screenshot-website
        destination: github-com-swinton-screenshot-website-${{ matrix.os }}-${{ matrix.width }}.png
        full-page: true
        width: ${{ matrix.width }}
